<%= turbo_frame_tag("new_item") do %>
    <li data-controller="new-item-form" class="item-list-item">
        <div class="flex">
            <div class="flex-grow-1 mr-1">
                <label data-new-item-form-target="itemLabel"></label>
                <textarea rows="1" data-new-item-form-target="itemTextarea"></textarea>
            </div>

            <div class="flex-grow-1">
                <label data-new-item-form-target="notesLabel">Notes:</label>
                <textarea rows="1" data-new-item-form-target="notesTextarea"></textarea>
            </div>

            <div class="flex flex-col justify-around">
                <button
                    type="button"
                    title="Remove Step"
                    class="remove-item-button mt-4"
                    data-action="click->new-item-form#removeStep">
                    <%= render partial: "layouts/heroicons/trash", locals: {css_class: "w-6 h-6"} %>
                </button>
            </div>

            <input type="hidden" data-new-item-form-target="numberInput" autocomplete="off"/>
        </div>
    </li>

    <li>
        <%= turbo_frame_tag("new_item") do %>
            <%= link_to "New Step", new_step_path %>
        <% end %>
    </li>

<% end %>
